h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Lato', sans-serif;
  color: #2d3c49;
}

h1 {
  font-weight: 300;
  font-size: 60px;
}

h3 {
  color: #7d97ad;
}

h5 {
  font-size: 35px;
}

p {
  font-size: 20px;
}

.heading {
  padding: 10px 0px;
  border-bottom: solid 5px #7d97ad;
}

.logo {
  color: #02b3e4;
  font-size: 60px;
  font-weight: 400;
}

.main-image {
  padding: 50px;
  text-align: center;
}

.gallery-header h3 {
  padding-left: 5px;
  font-weight: 300;
  font-size: 35px;
}
.gallery-item {
  text-align: center;
  padding-bottom: 50px;
}

.gallery-item img {
  width: 100%;
  padding: 15px 0px;
}
